@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.5em;
}
.gradient-box{
    width: 100%;
    padding: 350px 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left,red,green, blue);
    background-size: 500% 100%;
    animation:degradeanimado 1s infinite;
}
.gradient-box h1{
    color: azure;
    font-weight: lighter;
}

@keyframes degradeanimado {

    0% {
        background-position-x: 0% ;
    }
    100% {
        background-position-x: 100%;
    }
}